@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-19 14:26:33
 * @version $Id$
 */

#father
{
	width: 800px;
	height: 300px;
	border: 2px solid lightgray;
}

#child
{
	width: 400px;
	height: 200px;
	background-color: lightgray;
	margin:auto;
	margin-top:50px;
	margin-bottom: 50px;
}
